.send{
    background-color:#6CB840 ;
    width:90px;
    length:100px;
    padding: 8px 20px;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 50px;
}
#email{width:250px;
    padding: 8px 20px;
    border-radius: 16px;
    margin: 20px;
    border: none;
    background-color: white;
    text-align: left;
font-size: 10px;
}
.contactus{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,215,124,0.3);
    align-items: center;
    margin-top: 0.1;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
    length:1000px;
    box-sizing: border-box;
}
h4{
    text-align: center;
}
.contactus>h4>span{
    color: #6CB840;
}
*{
    font-family: 'poppins';
}
.contactus>p{
    text-align: center;
    font-size: 11px;
}
.eat2gether{
            
                
    display: flex;
    flex-direction: row;
    
    
}
.together{
height: auto;
width: 300px;
margin-top: 100pt;
line-height: 20pt;
text-align: center;
padding-left: 10px;
}